<!-- <card name="test">hoi</card> -->

<div class="flex flex-col h-screen bg-gradient-to-r from-rose-500 to-rose-400">
  <div class="relative z-0 pt-7">
    <div
      class="absolute w-full h-full top-[50%] -translate-y-2/4 bg-cover opacity-[2%] -z-10"
      style="background-image: url('./assets/images/monstera.jpeg')"
    ></div>
    <div
      class="flex items-center justify-between px-8 pb-5 text-2xl font-bold leading-8 tracking-wide pt-7"
    >
      <div class="w-2/3 text-white">Chat with your plant friends</div>
    </div>
    <div class="flex pl-8 overflow-hidden overflow-x-auto pb-7">
      <div
        class="flex items-center justify-center flex-shrink-0 mr-4 text-sm font-semibold text-white text-opacity-50 border-2 border-white border-dashed rounded-full border-opacity-40 w-11 h-11"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4v16m8-8H4"
          />
        </svg>
      </div>
      <div
        *ngFor="let plant of plants"
        class="flex items-center justify-center flex-shrink-0 mr-4"
      >
        <div
          class="flex items-center justify-center bg-white rounded-full w-11 h-11 bg-opacity-40"
        >
          <img
            *ngIf="plant.hasPhoto()"
            class="w-2/3"
            src="{{ plant.getPhoto(40, 80) }}"
            alt="{{ plant.getName() }}"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white rounded-t-[30px] px-4 py-12 flex-grow">
    <div class="grid grid-cols-1 gap-2">
      <!-- Chat card -->
      <span
        *ngFor="let plant of plants"
        (click)="routePlantDetails(plant.id)"
        class="flex flex-row items-center px-4 py-3 hover:bg-gray-100 active:bg-gray-100 rounded-[20px]"
      >
        <div
          class="relative flex items-center justify-center flex-shrink-0 bg-gray-100 rounded-full w-14 h-14 bg-opacity-90"
        >
          <img
            *ngIf="plant.hasPhoto()"
            class="w-2/3"
            src="{{ plant.getPhoto(56, 80) }}"
            alt="{{ plant.getName() }}"
          />
        </div>

        <div class="flex flex-col flex-1 min-w-0 ml-3">
          <div class="flex items-center justify-between">
            <div
              [class.text-rose-600]="plant.hasNewMessage()"
              class="text-sm font-bold text-gray-800 truncate"
            >
              {{ plant.getName() }}
            </div>
            <time
              *ngIf="plant.hasNewMessage()"
              class="text-[10px] leading-7 text-gray-400 flex-shrink-0 ml-4"
            >
              {{ plant.getLatestMessage().published_date | timeago }}
            </time>
          </div>
          <div
            *ngIf="plant.hasNewMessage()"
            class="flex items-center justify-between"
          >
            <div class="text-sm text-gray-400 truncate">
              <svg
                *ngIf="plant.getLatestMessage().user_id === null"
                xmlns="http://www.w3.org/2000/svg"
                class="inline-block w-4 h-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5 13l4 4L19 7"
                />
              </svg>
              {{ plant.getLatestMessage().content }}
            </div>
            <div
              *ngIf="plant.hasNewMessage()"
              class="flex-none w-4 h-4 ml-4 text-[10px] font-semibold flex items-center justify-center text-white rounded-full bg-rose-500"
            >
              {{ plant.getMessageCount() }}
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
