<div class="flex flex-col h-screen bg-gradient-to-r from-rose-500 to-rose-400">
  <div class="relative z-0 pt-7">
    <div
      class="absolute w-full h-full top-[50%] -translate-y-2/4 bg-cover opacity-[2%] -z-10"
      style="
        background-image: url('https://storage.googleapis.com/pod_public/1300/95956.jpg');
      "
    ></div>
    <div
      class="flex items-center justify-between px-8 text-white text-opacity-50"
    >
      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"
          />
        </svg>
        <div class="ml-3">Back</div>
      </div>
    </div>
    <div
      class="flex items-center justify-between px-8 pb-12 text-2xl font-bold leading-8 tracking-wide pt-7"
    >
      <div class="w-2/3 text-white">
        <ng-container *ngIf="plant">
          {{ plant.secondary_name || plant.name }}
        </ng-container>
      </div>
      <div
        class="flex items-center justify-center w-8 h-8 text-gray-600 bg-white rounded-full bg-opacity-90"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="bg-white rounded-t-[30px] px-4 pt-8 pb-12 flex-grow">
    <div *ngIf="plant" class="py-3">
      <ng-container *ngFor="let group of plant.groupedMessages">
        <div class="flex items-center justify-center mt-4">
          <div
            class="px-2 py-0.5 rounded-[30px] text-[10px] font-semibold text-gray-500 leading-4 bg-gray-50"
          >
            {{ group.day | date: "EEE, d MMM" }}
          </div>
        </div>
        <div class="">
          <ng-container *ngFor="let message of group.messages; let i = index">
            <div
              [class.justify-end]="message.user_id === null"
              [class.flex-row-reverse]="message.user_id === null"
              [class.pt-0]="
                i + 1 === group.messages?.length && group.messages?.length !== 1
              "
              class="flex flex-row items-end px-4 py-2"
            >
              <div
                *ngIf="
                  message.user_id !== null && i + 1 !== group.messages?.length
                "
                class="flex items-center justify-center flex-shrink-0 w-8 h-8"
              ></div>
              <div
                *ngIf="
                  message.user_id !== null && i + 1 === group.messages?.length
                "
                class="relative flex items-center justify-center flex-shrink-0 w-8 h-8 bg-gray-100 rounded-full bg-opacity-90"
              >
                <img
                  *ngIf="plant.hasPhoto()"
                  class="w-2/3"
                  src="{{ plant.getPhoto(32, 80) }}"
                  alt="{{ plant.getName() }}"
                />
              </div>
              <div
                [class.ml-3]="message.user_id !== null"
                [class.mr-6]="message.user_id !== null"
                [class.ml-6]="message.user_id === null"
                class="flex-auto"
              >
                <!-- TODO: berichten zijn allemaal even lang en de user message is ook groter  -->
                <div
                  class="px-4 py-4 rounded-[24px] text-xs text-gray-600 leading-4"
                  [class.bg-gray-100]="message.user_id !== null"
                  [class.bg-rose-100]="message.user_id === null"
                  [class.rounded-bl-none]="
                    message.user_id !== null && i + 1 === group.messages?.length
                  "
                  [class.rounded-br-none]="
                    message.user_id === null && i + 1 === group.messages?.length
                  "
                >
                  {{ message.content }}
                </div>
              </div>
              <time class="text-gray-400 text-[10px] self-center flex-shrink-0">
                {{ message.published_date | date: "h:mm a" }}
              </time>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
